<section>

    <div class="container">
        <div class="d-flex justify-content-between">
            <h4><img [src]="kLogo" alt="logo" class="logo">Hello <span class="fw-bold">{{travelAgencyData.userName}},</span></h4>
    
            <div class="search-wrapper">
                <div class="search-container search-group">
                  <img [src]="searchIcon" alt="searchIcon" class="searchIcon">
                  <input 
                    type="text" 
                    class="search-input" 
                    placeholder="Search...">
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">

        <div class="row">
            <div class="col-md-12">
                <div class="agency-info bg-white d-flex justify-content-between">
                    <div class="d-flex">
                        <img [src]="agencyPP" alt="agency-pp" class="rounded-circle">
                        <div class="d-block align-content-center ms-3">
                            <h5 class="mb-0 fw-bold">{{travelAgencyData.userName}}</h5>
                            <p class="mb-0" style="font-size: 13px;">{{user}}{{travelAgencyData.userName}}</p>
                        </div>
                    </div>
                    <div class="my-auto">
                        <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" class="rate">
                            <svg width="30" height="30" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                                [style.fill]="i < travelAgencyData.averageRating ? '#FAC817' : '#FFFFFF'"
                                stroke="currentColor" stroke-width="1"
                                stroke-linecap="round" stroke-linejoin="round">
                                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                            </svg>
                        </span>
                         <!-- <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" class="rate">
                    </div>

                        <svg *ngIf="i + 1 <= travelAgencyData.averageRating" width="24" height="24" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg" fill="#FAC817" stroke="currentColor"
                             stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                          <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                        </svg>
                      
                        <svg *ngIf="i < travelAgencyData.averageRating && i + 1 > travelAgencyData.averageRating" width="24" height="24" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="1"
                             stroke-linecap="round" stroke-linejoin="round">
                          <defs>
                            <linearGradient id="half-fill" x1="0" x2="1" y1="0" y2="0">
                              <stop offset="50%" stop-color="#FAC817"/>
                              <stop offset="50%" stop-color="#FFE5C2"/>
                            </linearGradient>
                          </defs>
                          <polygon fill="url(#half-fill)" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                        </svg>
                          <svg *ngIf="i + 1 > travelAgencyData.averageRating" width="24" height="24" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" fill="#FFE5C2" stroke="currentColor"
                            stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                        </svg>
                    </span> -->
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="profile-info p-4 bg-white">
                    <div class="d-flex mb-2">
                        <div class="username w-50 me-4">
                            <label for="name" class="mb-2">Name</label>
                            <input type="text" id="name" class="form-control text-muted" [value]="travelAgencyData.userName" disabled>
                        </div>
                        <div class="phone w-50 me-3">
                            <label for="phone" class="mb-2">Phone</label>
                            <input type="text" id="phone" class="form-control text-muted" [value]="travelAgencyData.phoneNumber">
                        </div>
                    </div>
                    <div class="d-flex mb-2">
                        <div class="d-block w-100 me-3">
                            <div class="website mb-2">
                                <label for="website" class="mb-2">Facebook Website</label>
                                <input type="url" id="website" class="form-control text-muted" [value]="travelAgencyData.facebookURL">
                            </div>
                            <div class="website">
                                <label for="website" class="mb-2">Instagram Website</label>
                                <input type="url" id="website" class="form-control text-muted" [value]="travelAgencyData.instagramURL">
                            </div>
                        </div>
                        <div class="bio w-100">
                            <label for="bio" class="mb-2">Bio</label>
                            <textarea name="bio" id="bio" class="form-control" rows="4" >{{travelAgencyData.description}}</textarea>
                        </div>
                    </div>
                    <div class="media">
                        <div>
                            <label for="media" class="mb-2">Media</label>
                        </div>
                        <!-- *ngFor="let img of media" -->
                         <div class="d-flex">
                            <div class="edit-photos" *ngFor="let img of media" >
                                <img [src]="media2" alt="Image" class="media-img me-2">
                                <i class="fa-solid fa-xmark remove-icon"></i>
                                <div class="overlay"></div>
                            </div>
                            <div class="add-photo">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                         </div>
                       
                    </div>
                    <!-- buttons -->
                    <div class="d-flex justify-content-end mt-1 ">
                        <button class="cancel-btn me-2" routerLink="/profile">Cancel</button>
                        <button class="edit-btn">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>