<section>
  <div class="sidebar" [class.collapsed]="isCollapsed">

    <button class="border-0" (click)="toggleSidebar()">
      <i class="fa-solid fa-list d-flex justify-content-center ms-1"></i>
    </button>
    <img *ngIf="!isCollapsed" [src]="logo" alt="logo" class="mb-2" (click)="toggleSidebar()">
  
    <ul class="mt-4">
      <li *ngFor="let item of menuItems" class="px-0 mb-1" routerLinkActive="active">
        <a [routerLink]="item.path">
          <div class="d-flex justify-content-between">
            <div>
              <i [class]="item.icon"></i>
              <span *ngIf="!isCollapsed" class="label">{{ item.label }}</span>
            </div>
            <span *ngIf="!isCollapsed">
            <i class="fa-solid fa-chevron-right"></i>
            </span>
          </div>
        </a>
      </li>
    </ul>


    <div class="sidebar-footer d-flex">
      <img [src]="travelAgencyDash.profileURl" alt="agency-pp" class="me-2 mx-auto rounded-circle" 
      routerLink="/profile">
      <span *ngIf="!isCollapsed" class="agency-info">
        <div class="d-flex">
          <div class="d-block">
            <p class="mb-0">{{travelAgencyData.userName}}</p>
            <p class="mb-0" style="font-size: 10px;">{{user}}{{travelAgencyData.userName}}</p>
          </div>

          <!-- Logout Popup -->
          <button (click)="logout()" class="border-0 ms-5" title="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </button>
          
        </div> 

      </span>
    </div>

  </div>
</section>