<section>
  <div class="sidebar" [class.collapsed]="isCollapsed">

    <button class="border-0" (click)="toggleSidebar()">
      <i class="fa-solid fa-list d-flex justify-content-center ms-1"></i>
    </button>
    <img *ngIf="!isCollapsed" [src]="logo" alt="logo" class="mb-2" (click)="toggleSidebar()">
  
    <ul class="mt-4">
      <li *ngFor="let item of menuItems" class="px-0 mb-1" routerLinkActive="active">
        <a [routerLink]="item.path">
          <div class="d-flex justify-content-between">
            <div>
              <i [class]="item.icon"></i>
              <span *ngIf="!isCollapsed" class="label">{{ item.label }}</span>
            </div>
            <span *ngIf="!isCollapsed">
            <i class="fa-solid fa-chevron-right"></i>
            </span>
          </div>
        </a>
      </li>
    </ul>


    <div class="sidebar-footer d-flex">
      <img [src]="agencyPP" alt="agency-pp" class="me-2 mx-auto rounded-circle" (click)="toggleLogoutPopup()">
      <span *ngIf="!isCollapsed" class="agency-info">
        <div class="d-flex">
          <div class="d-block">
            <p class="mb-0">{{travelAgencyData.userName}}</p>
            <p class="mb-0" style="font-size: 10px;">{{user}}{{travelAgencyData.userName}}</p>
          </div>

         <!-- 
           <i 
          class="fa-solid fa-chevron-down ms-5 mt-2 z-3"
          style="cursor: pointer;"
          (click)="toggleSpeedDial(); $event.stopPropagation()">
          </i>
          <p-speeddial
            *ngIf="speedDialVisible"
            [model]="items"
            direction="up"
            [style]="{ position: 'absolute', right: '1rem', bottom: '1rem'}"
            style="width: 300px; height: 500px; z-index: 1000;"
            [mask]="true">
          </p-speeddial> -->
           <!-- Custom Trigger Icon -->
          <i 
            class="fa-solid fa-chevron-down ms-5 mt-2 z-3"
            style="cursor: pointer;"
            (click)="toggleLogoutPopup(); $event.stopPropagation()">
          </i>

          <!-- Logout Popup -->
          <div *ngIf="showLogoutPopup" class="logout-popup" style="position: absolute; right: 1.1rem; bottom: 3.8rem; border: 1px solid #ccc; padding: 5px; z-index: 1000;">
            <button (click)="logout()" class="border-0"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</button>
          </div>

        </div> 

      </span>
    </div>

  </div>
</section>