@import "~@angular/material/prebuilt-themes/indigo-pink.css";


:root {
    --mainColor: #FFE5C2;
    --primaryColor: #FFF2E0;
    --secondaryColor: #FFBD67;
    --lighterColor: #FFF1DA;
    --linkColor: #6F6C90;
    --yellow: #FAC817;
    --blue: #59B1E6;
    --white: #FFFFFF;
    --black: #000000;
}

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html, body {
    height: auto !important;
    overflow: visible !important;
    scroll-behavior: auto !important;
    pointer-events: auto;
    margin: 0; 
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
  
// Scrollbar design
::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: var(--white);
}

.rate{
    color: var(--yellow);
}

.edit-btn, .add-btn{
    background-color: var(--secondaryColor);
    color: var(--black);
    border-radius: 25px;
    border: 0;
    padding: 8px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out; 
    &:hover{
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7); 
        transform: translateY(-2px); 
    }
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
