<section>
    <div class="container">
        <div class="d-flex justify-content-between">
            <h4><img [src]="kLogo" alt="logo" class="logo">Hello <span class="fw-bold">{{travelAgencyData.userName}},</span></h4>
        </div>
    </div>

    <div class="surface-ground px-4 py-3 md:px-6 lg:px-8">
        <div class="grid gap-3 d-flex justify-content-center">

            <div class="col-5 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round bg-white">
                    <div class="hstack">
                        <div class="customers d-flex justify-content-center align-items-center p-4">
                            <img [src]="customersIcon" alt="customers">
                        </div>
                        <div class="ms-3">
                            <p class="text-muted mb-1">Total Customers</p>
                            <h2 class="fw-bold">{{customersData.numOfCustomers}}</h2>
                            <!-- <i class="fa-solid fa-arrow-up green-icon"> 18%</i> <span style="font-size: 12px;"> last month</span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round bg-white">
                    <div class="hstack">
                        <div class="customers d-flex justify-content-center align-items-center p-4">
                            <img [src]="newCustomers" alt="customers">
                        </div>
                        <div class="ms-3">
                            <p class="text-muted mb-1">New Customers</p>
                            <h2 class="fw-bold">{{customersData.numOfNewCustomers}}</h2>
                            <!-- <i class="fa-solid fa-arrow-down red-icon"> 1%</i> <span style="font-size: 12px;"> last month</span> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="customers-table bg-white">
                    <div class="d-flex justify-content-between">
                        <h5 class="p-2 mb-0">All Customers</h5>
                        <div class="d-flex">
                            <!-- search -->
                            <mat-form-field class="custom-search pt-2">
                                <div class="search-container ">
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Search customers" />
                                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                                </div>
                            </mat-form-field>
                            <!-- sorting -->
                            <div class="custom-sort">
                                <mat-form-field class="custom-sort pt-2">
                                    <mat-select placeholder="Sort by" (selectionChange)="sortByDate($any($event).value)">
                                        <mat-option value="newest">Newest</mat-option>
                                        <mat-option value="oldest">Oldest</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>          
                    </div> 
                      
                    <div class="example-container" style="overflow: auto; max-height: 400px;" >
                        <mat-table #table [dataSource]="dataSource" matSort>
                      
                          <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let customers"> {{customers.customerName}} </mat-cell>
                          </ng-container>
                      
                          <ng-container matColumnDef="date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Booked in </mat-header-cell>
                            <mat-cell *matCellDef="let customers"> {{customers.createdAt | date: 'yyyy-MM-dd'}} </mat-cell>
                          </ng-container>
                      
                          <ng-container matColumnDef="package">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Package </mat-header-cell>
                            <mat-cell *matCellDef="let customers"> {{customers.planName}} </mat-cell>
                          </ng-container>
                      
                          <ng-container matColumnDef="phone">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                            <mat-cell *matCellDef="let customers"> {{customers.customerNumber}} </mat-cell>
                          </ng-container>
                      
                          <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                            <mat-cell *matCellDef="let customers"> {{customers.customerEmail}} </mat-cell>
                          </ng-container>
                      
                          <!-- <ng-container matColumnDef="nationality">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nationality </mat-header-cell>
                            <mat-cell *matCellDef="let customers"> {{customers.bookedCategory}} </mat-cell>
                          </ng-container> -->
                      
                          <ng-container matColumnDef="category">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
                            <mat-cell *matCellDef="let customers"> {{customers.bookedCategory}} </mat-cell>
                          </ng-container>
                      
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      
                        </mat-table>
                        <!--                         
                        <mat-paginator
                        [pageSize]="4"
                        [pageSizeOptions]="[4, 10, 20]"
                        [pageIndex]="0"
                        [length]="200"
                        (page)="onPageChange($event)">
                    </mat-paginator> -->
                    </div>

           

                    <p-paginator
                    (onPageChange)="onPageChange($event)"
                    [first]="first"
                    [rows]="rows"
                    [totalRecords]="200"
                    [showCurrentPageReport]="false"
                    [showPageLinks]="true"
                    [showJumpToPageDropdown]="false"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" 
                    />
            
                </div>
            </div>
        </div>
    </div>

</section>